body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Alignement en colonne */
    align-items: center; /* Centrage horizontal */
    height: 100vh;
}

#input-form {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%; /* Utilise toute la largeur disponible */
    text-align: center;
    margin-bottom: 40px; /* Espacement sous le formulaire */
}

#last-generations {
    width: 100%;
    max-width: 800px; /* Limite la largeur du conteneur des générations */
    text-align: center;
    margin-top: 40px; /* Marge au-dessus */
}

.generation-item {
    background-color: #1e1e1e;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 280px;
    color: #fff;
    text-align: left;
    margin-bottom: 20px; /* Marge entre les éléments */
}

.generation-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.generation-item p {
    font-size: 14px;
    margin-bottom: 15px;
}

.generation-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.generation-item audio {
    width: 100%;
    margin-top: 10px;
}

.generation-item a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

.generation-item a:hover {
    text-decoration: underline;
}
