/* Définition des variables */
:root {
    --bg-dark: #121212;
    --bg-light-dark: #1e1e1e;
    --text-white: #ffffff;
    --text-light-gray: #b0b0b0;
    --green: #4caf50;
    --green-dark: #45a049;
    --input-bg: #333333;
    --input-border: #4caf50;
}

/* Styles généraux */
body {
    background-color: var(--bg-dark);
    color: var(--text-white);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* Bloc du formulaire de génération */
#input-form {
    background-color: var(--bg-light-dark);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

/* Personnalisation des inputs et boutons */
input[type="text"], button {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}

input[type="text"] {
    background-color: var(--input-bg);
    color: var(--text-white);
    border: 1px solid var(--input-border);
    width: calc(100% - 22px);
    margin-bottom: 20px;
}

input[type="text"]:focus {
    outline: none;
    border-color: var(--input-border);
}

button {
    background-color: var(--green);
    color: var(--text-white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--green-dark);
}

/* Bloc des dernières générations */
#last-generations {
    width: 100%;
    max-width: 900px;
    text-align: center;
}

#last-generations h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Conteneur et éléments des dernières générations */
.last-generations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.generation-item {
    background-color: var(--bg-light-dark);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 280px;
    color: var(--text-white);
    text-align: left;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.generation-item h3 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
}

.generation-item p {
    font-size: 14px;
    margin-bottom: 15px;
}

.generation-item img {
    max-width: 100%;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.generation-item audio {
    width: 100%;
    margin-top: 10px;
}

.generation-item a {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
}

.generation-item a:hover {
    text-decoration: underline;
}

/* Cercle de chargement */
.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid var(--green);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-top: 10px;
}

/* Animation de rotation pour le cercle */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Texte du temps de génération */
#completed-message {
    font-size: 16px;
    color: var(--text-light-gray);
    text-align: center;
    margin-top: 20px;
}

/* Personnalisation du lecteur audio */
.custom-audio-player {
    width: 200px;
    background-color: var(--bg-light-dark);
    padding: 5px 20px;
    border-radius: 10px;
    color: var(--text-white);
    text-align: center;
}

/* Conteneur des contrôles */
.controls {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Boutons de reculer et avancer */
button.skipBtn, button.playPauseBtn {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

button.skipBtn {
    background-color: var(--input-bg);
    color: var(--text-white);
    margin: 0 10px;
}

button.skipBtn:hover {
    background-color: #555;
}

button.playPauseBtn {
    background-color: var(--green);
    color: var(--text-white);
}

button.playPauseBtn:hover {
    background-color: var(--green-dark);
}

/* Affichage du temps */
.time-display {
    margin-top: 10px;
    font-size: 16px;
    color: var(--text-light-gray);
}

.time-display span {
    font-weight: bold;
}
/* Styles pour chaque élément de la liste de résultats de recherche */
.search-result-item {
    background-color: var(--bg-light-dark);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 280px;
    color: var(--text-white);
    text-align: left;
    margin-bottom: 20px;
    box-sizing: border-box;

}

.search-result-item h4 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
}

.search-result-item p {
    font-size: 14px;
    margin-bottom: 15px;
}

.search-result-item img {
    max-width: 100%;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.search-result-item audio {
    width: 100%;
    margin-top: 10px;
}

#search-results-list {
    width: 100%;
    max-width: 900px;
    text-align: center;
}
#live-search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#search-results-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.search-result-item {
    width: 280px; /* Aligné avec les autres items */
    background-color: var(--bg-light-dark);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: var(--text-white);
    text-align: left;
}